@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	background-color: rgb(9 9 11);
	overflow-x: hidden;
}

body {
	margin: 0;
	font-family: system-ui, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cursor {
	pointer-events: none;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(130, 130, 130);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(130, 130, 130);
}
